header{
    min-width: 1400px;
}
body{
    min-width: 1400px;
}
.caroussel{
    min-width: 1400px;
}
#deuxieme{
    min-width: 1400px;
}
#troisieme{
    min-width: 1400px;
}
#quatrieme{
    min-width: 1400px;
}
footer{
    min-width: 1400px;
}